@font-face {
  font-family: 'inter';
  src: url(../src/assets/fonts/Inter/Inter_28pt-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
:root {
  --bg-dark: #0a192f;
  --bg-darker: #080a14;
  --text-light: #e6eef8;
  --text-muted: #78829d;
  --accent: #ccd6f6;
  --primary-color: #64ffda;
  --border-light: rgba(255, 255, 255, 0.05);
  --radius: 8px;
  --transition: 0.3s ease;
  --max-content-width: 800px;
}

*, *::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.spotlight {
  pointer-events: none; /* no bloquea clicks */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
    600px circle at var(--x) var(--y),
    rgba(17, 34, 64, 1),  /* color central */
    transparent 80%
  );
  z-index: 1; /* detrás de todo el contenido pero sobre el fondo */
  transition: background 0.1s ease;
}
body{
  font-family: 'inter', sans-serif;
  background-color: var(--bg-dark);
  color: var(--text-light);
  line-height: 1.6;
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.layout {
  position: relative;
  display: flex;
  z-index: 2; /* sobre el spotlight */
}
.sidebar {
  width: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  padding: 2rem 1.5rem;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
}
.content {
  margin-left: 49%;
  height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  justify-content: center;
  padding-right: 8rem;
}
.section {
  margin: 0 auto;
  min-height: 100vh;
  padding: 6rem 2rem;
  max-width: var(--max-content-width);
}

/* Navbar */
.nav-wrapper {
  margin-top: 3.2rem;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  margin-left: 7rem;
}
.nav-wrapper .brand h2{
  font-size: 3.3rem;
  font-family: 'Calibre-Light', sans-serif;
  color: var(--text-light);
}
.nav-wrapper .brand .muted {
  color: var(--text-muted);
  font-size: 1.5rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  color: var(--text-light);
}
.nav-wrapper .brand p{
  font-size: 1rem;
  color: var(--text-muted);
}
.nav-links {
  display: flex;
  font-size: 0.9rem;
  flex-direction: column;
  gap: 1rem;
  margin-top: 6rem;
}
.nav-links a {
  position: relative;
  color: var(--text-muted);
  text-decoration: none;
  padding-left: 2.5rem;
  transition: color 0.3s ease, padding-left 0.3s ease;
}
/* Línea horizontal blanca SIEMPRE visible */
.nav-links a::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 0.3px;              /* grosor de la línea */
  width: 30px;              /* largo inicial */
  background: white;
  transition: width 0.5s ease;
}
/* Cuando pasas el mouse o está activa */
.nav-links a:hover::before,
.nav-links a.active::before {
  width: 60px; /* crece */
}
/* Al crecer la línea, desplazamos el texto */
.nav-links a:hover,
.nav-links a.active {
  padding-left: 4.5rem; /* más espacio a la izquierda */
  color: white;
}
.socials {
  position: absolute;
  bottom: 10%;
  display: flex;
  flex-direction: row; /* o row si quieres horizontal */
  gap: 1rem;
  margin-top: rem;
}
.socials a {
  color: var(--text-muted);
  font-size: 1.5rem;           /* tamaño de ícono */
  transition: color 0.3s ease, transform 0.3s ease;
}
.socials a:hover {
  color: var(--primary-color); /* cambia a verde en hover */
  transform: translateY(-3px); /* animación suave */
}

/* Hero */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: right;
  padding-top: 6rem;
  gap: 2rem;
}
.hero-title {
  font-size: 2rem;
  opacity: 0;
  color: var(--primary-color, #64ffda);
}
.hero-content {
  flex: 1;
  justify-content: space-between;
}
.eyebrow {
  text-align: left;
  white-space: pre-wrap;
  color: var(--text-muted);
  margin-bottom: 1.5rem;
}
.eyebrow .group-hover {
  color: var(--text-light);
}
.eyebrow .group-hover:hover {
  color: var(--primary-color);
}

/* Experience */
.experience-title {
  font-size: 2rem;
  opacity: 0;
  color: var(--primary-color, #64ffda);
}
.experience-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.experience-item {
  padding: 1.5rem;
  display: flex;
  align-items: top;
  border-radius: 8px;
  gap: 10px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}
.experience-item:hover {
  background:  opacity(0.1);
  background-color: var(--border-light);
  transition: 'background-color 0.3s ease';
}
.experience-content {
  flex: 1;
}
.experience-header h3 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  color: var(--text-light);
}
.experience-header a {
  text-decoration: none;
  color: var(--text-light);
}
.experience-header h3 a:hover {
  color: var(--primary-color, #64ffda);
  text-decoration: none;
}
.experience-date {
  flex: 0.4;
  overflow: hidden;
  transition: transform 0.3s ease;
}
.experience-period {
  margin-top: .2rem;
  font-size: 0.8rem;
  color: gray;
}
.experience-description {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  list-style: none;
  color: var(--text-muted);
}
.cv-button-wrapper {
  text-align: left;
  margin-top: 3rem;
}
.cv-button {
  display: inline-block;
  color: var(--text-light);
  border: none;
  text-decoration: none;
  transition: all 0.3s ease;
}
.cv-button:hover {
  color: var(--primary-color);
}

/* Proyectos */
.projects-title {
  font-size: 2rem;
  opacity: 0;
  color: var(--primary-color, #64ffda);
}
.projects-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.project-item {
  display: flex;
  align-items: center;
  border-radius: 8px;
  gap: 20px;
  padding: 1.5rem;
  position: relative;
  border: 1px solid transparent;
}
.project-item:hover {
  background:  opacity(0.1);
  background-color: var(--border-light);
  transition: 'background-color 0.3s ease';
}
.project-image {
  flex: 0.4;
  overflow: hidden;
  transition: transform 0.3s ease;
}
.project-image img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  display: block;
}
.project-content {
  flex: 1;
  color: #8892b0;
}
.project-name {
  font-size: 1.2rem;
  color: #e6f1ff;
  margin-bottom: 10px;
}
.project-name a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;
}
.project-name a:hover {
  color: #64ffda;
}
.project-description {
  list-style: none;
  padding: 0;
  margin: 0;
}
.project-description li {
  font-size: 0.9rem;
  margin-bottom: 10px;
  line-height: 1.6;
}

/* Footer */
.footer {
  text-align: left;
  padding: 1rem 0;
  font-size: 0.9rem;
  color: var(--text-muted);
  margin-top: 2rem;
  margin-bottom: 4.2rem;
}

/* ===================== */
@media (max-width: 768px) {
  body {
    flex-direction: column;
    overflow: auto;
  }
  .layout {
    flex-direction: column;
  }
  .sidebar {
    position: relative;
    width: 100%;
    padding: 1rem;
    height: auto;
    flex-direction: column;
    align-items: left;
    text-align: left;
  }
  .nav-wrapper {
    margin-left: 1.5rem;
    margin-top: 1rem;
    height: auto;
    align-items: left;
  }
  .nav-links {
    display: none;
  }
  .socials {
    position: relative;
    margin-top: 2rem;
    justify-content: left;
  }
  .content {
    margin-left: 0;
    width: 100%;
    padding: 1rem;
    height: auto;
    background-color: var(--bg-dark);
  }
  .section {
    padding: 3rem 1rem;
  }
  .hero {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 1rem;
  }
  
  .hero-title,.experience-title, .projects-title {
    color: var(--text-light);
    opacity: 1;
    padding: 1rem;
    font-size: 1.2rem;
    text-align: left;
    justify-content: left;
    align-items: left;
  }
  .experience-item,
  .project-item {
    text-align: left;
  }
  .cv-button-wrapper {
    text-align: left;
    padding-left: 1rem;
    margin-bottom: 3rem;
  }
  .project-image img {
    height: auto;
  }
  .footer {
    text-align: left;
    margin: 2rem 0;
    padding: 1rem;
  }
}
